/* Author Box
------------------------------------------------------------ */

.author-box {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	margin: 0 0 40px;
	overflow: hidden;
	padding: 10px;
}

.author-box p {
	font-size: 14px;
}