@media only screen and (max-width: 960px) {

  .one-third.tablet-one-half,
	.one-fourth.tablet-one-half {
		width: 49.166666666667%;
	}

	.one-third.first.tablet-one-half,
	.one-fourth.first.tablet-one-half {
		margin-left: 1.6666666666667%;
		clear: none;
	}

	.one-third.tablet-one-half.tablet-first,
	.one-third.first.tablet-one-half.tablet-first,
	.one-fourth.tablet-one-half.tablet-first,
	.one-fourth.first.tablet-one-half.tablet-first {
		clear: both;
		margin-left: 0;
	}
}

@media only screen and (max-width: 767px) {

	.one-third.tablet-one-half,
	.one-third.first.tablet-one-half,
	.one-fourth.tablet-one-half,
	.one-fourth.first.tablet-one-half,
	.one-third.tablet-one-half.tablet-first,
	.one-third.first.tablet-one-half.tablet-first,
	.one-fourth.tablet-one-half.tablet-first,
	.one-fourth.first.tablet-one-half.tablet-first {
	  margin: 0;
	  width: 100%;
	}
	}

}