.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#slide {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
    bottom: 0;
}
